<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Доска объявления :: Доска объявлений</title>
    </head>
    <body>
        <h1>Добавление объявления</h1>
        <div>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'add' %}">Добавить</a>
            {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
            {% endfor %}
        </div>
{#        form - тег для создания формы, post - метод отправки данных #}
{#        данные будут отправлены по тому же интернет-адресу, с которого бьmа загружена текущая страница, #}
{#        т. е. в нашем случае тому же контроллеру-классу BbcreateView, он обработает и сохранит #}
        <form method="post">
{#            csrt_token - тег шаблонизатора, создаёт скрытое поле, хранящее цифровой жетон, #}
{#            получив который контроллер "поймет", что данные были отправлены с текущего сайта и им можно доверять #}
            {% csrf_token %}
{#            форма в контекст шаблона хранится в переменной form, создаваемая контроллер-классом #}
{#            as_p - для вывода формы, элементы которой на разных абзацах #}
            {{ form.as_p }}
{#            input - тег, формирующий кнопку отправки данных #}
            <input type="submit" value="Добавить">
        </form>
    </body>
</html>